
h1{
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}
ol{
    
    display: grid;
    grid-template-columns: repeat(7,1fr
    );
    list-style-type: none;
    text-align: center;
    transform: 2s;
    margin-right: 40px;
    
    
}
.date1{
    display: grid;
    grid-column-start: 3;
    transition: 0s;
    margin-top: 5px;
}
.date{
    padding: 7%;
    transition: 2s;
    margin-top: 5px;
}
.date7{
    text-transform: capitalize;
    transition: 2s;
    background-color: lightgrey;
}
.main{
    border: 2px solid black;
    background-color: lightblue;
    cursor: pointer;
}
.date:hover{
    background-color: rgb(66, 182, 41);
    opacity: 0.5;
    color: red;
    border-radius: 50px;
}
.date1:hover{
    background-color: rgb(66, 182,41);
    opacity: 0.5;
    color: red;
    border-radius: 50px;
    pointer-events: painted;
}
