.parent{
    background-color: blueviolet;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: row-reverse;
}
.box1{
    background-color: black;
    width: 100px;
    height: 100px;
    border: 2px solid wheat;
    color: aquamarine;
    font-size: larger;
} .box2{
    background-color: black;
    width: 100px;
    height: 100px;
    border: 2px solid wheat;
    font-size: larger;

    /* position: absolute;
    top: 0px; */
}
.box3{
    background-color: black;
    width: 100px;
    height: 100px;
    border: 2px solid wheat;
    /* position: absolute;
    top: 0px; */
    font-size: larger;

}
